@{
    ViewBag.Title = "Contacto";
}

@using WebAplication_ProximaGen.Logica

@model WebAplication_ProximaGen.Models.Contactos

<section class="pc-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Registros</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="#!">Registros</a></li>
                            <li class="breadcrumb-item">Contactos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Registrar Genero</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="mt-5">Información Contactos</h5>
                        <hr>
                        @using (Html.BeginForm("CreateGenero", "Maintenance", FormMethod.Post))
                        {
                            <form>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        @Html.LabelFor(model => model.idContacto, "Descripción Género", new { @class = "form-label" })
                                        @Html.TextBoxFor(model => model.idContacto, new { @class = "form-control", placeholder = "Género" })
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mx-auto">Agregar Género</button>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Reporte de Género</h5>
                    <span class="d-block m-t-5">Este <code>reporte</code> muestra los géneros creados</span>
                </div>
                <div class="card-body table-border-style">
                    @*<br>*@
                    <div class="form-group">
                        @*<br>*@
                    </div>


                    <div class="table-responsive">
                        <table id="tableGenero" class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (TempData["Generos"] != null)
                                {
                                    foreach (var genero in TempData["Generos"] as List<WebAplication_ProximaGen.Models.Generos>)
                                    {
                                        <tr>
                                            <td>@genero.idGenero</td>
                                            <td>@genero.genero</td>
                                            <td>
                                                <a href="#" class="edit-icon" data-id="@genero.idGenero" onclick="AbrirModal('@genero.idGenero', '@genero.genero');"><i class="fas fa-pen"></i></a>
                                                <a href="#" class="delete-icon" data-id="@genero.idGenero" onclick="EliminarDato(@genero.idGenero);"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>



                    <!-- Agrega los botones de exportación aquí -->


                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal para editar datos -->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel">Editar Datos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("UpdateGenero", "Maintenance", FormMethod.Post))
            {
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.idContacto)
                            @Html.TextBoxFor(model => model.idContacto, new { @class = "form-control", @readonly = "readonly", @id = "idGenero" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.idContacto)
                            @Html.TextBoxFor(model => model.idContacto, new { @class = "form-control", @id = "descripcionGeneroInput" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>


<script>

    function AbrirModal(idGenero, genero) {
        const idGeneroInput = document.getElementById("idGenero");
        const descripcionGeneroInput = document.getElementById("descripcionGeneroInput");

        idGeneroInput.value = idGenero;
        descripcionGeneroInput.value = genero;

        const editarModal = new bootstrap.Modal(document.getElementById("editarModal"));
        editarModal.show();
    }




    function EliminarDato(idGenero) {

        var controller = "Maintenance";
        var action = "DeleteGenero";
        var successMessage = "Se eliminó el género con éxito";
        var errorMessage = "No se ha eliminado, hubo un error de comunicación";
        var dataString = "idGenero";

        EliminarDatosAjax(idGenero, controller, action, successMessage, errorMessage, dataString);
    }

</script>

@if (TempData["response"] != null)
{
    if (TempData["response"] == null)
    {
        <script>
            CreateAlert('Fallo del sistema', 'error', 'No ha devuelto una respuesta, comuniquese con IT');
        </script>
    }

    if (TempData["response"].ToString().Contains(Constantes.responses[1]))
    {
        <script>
            var decodedResponse = @Html.Raw(Json.Encode(TempData["response"]));
            CreateAlert('Creación Exitosa', 'success', decodedResponse);
        </script>
    }

    if (TempData["response"].ToString().Contains(Constantes.responses[2]))
    {
        <script>
            var decodedResponse = @Html.Raw(Json.Encode(TempData["response"]));
            CreateAlert('Creación Denegada', 'error', decodedResponse);
        </script>
    }
}