@{
    ViewBag.Title = "TipoContactos";
}

@using WebAplication_ProximaGen.Logica

@model WebAplication_ProximaGen.Models.TipoContactos

<section class="pc-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Registros</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="#!">Registros</a></li>
                            <li class="breadcrumb-item">Tipo Contactos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Registrar Permiso</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="mt-5">Información Tipo Contactos</h5>
                        <hr>
                        @using (Html.BeginForm("CreateTipoContactos", "Maintenance", FormMethod.Post))
                        {
                            <form onsubmit="return validarFormulario();">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        @Html.LabelFor(model => model.descripcionTipoContacto, "Descripción Tipo Contacto", new { @class = "form-label" })
                                        @Html.TextBoxFor(model => model.descripcionTipoContacto, new { @class = "form-control", placeholder = "Tipo Contacto" })
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mx-auto">Agregar Tipo Contacto</button>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Reporte de Tipo Contacto</h5>
                    <span class="d-block m-t-5">Este <code>reporte</code> muestra los tipo de contactos creados</span>
                </div>
                <div class="card-body table-border-style">
                    @*<br>*@
                    <div class="form-group">
                        @*<br>*@
                    </div>


                    <div class="table-responsive">
                        <table id="tableTipoContactos" class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (TempData["TipoContactos"] != null)
                                {
                                    foreach (var tipocontacto in TempData["TipoContactos"] as List<WebAplication_ProximaGen.Models.TipoContactos>)
                                    {
                                        <tr>
                                            <td>@tipocontacto.idTipoContacto</td>
                                            <td>@tipocontacto.descripcionTipoContacto</td>
                                            <td>
                                                <a href="#" class="edit-icon" data-id="@tipocontacto.idTipoContacto" onclick="AbrirModal('@tipocontacto.idTipoContacto', '@tipocontacto.descripcionTipoContacto');"><i class="fas fa-pen"></i></a>
                                                <a href="#" class="delete-icon" data-id="@tipocontacto.idTipoContacto" onclick="EliminarDato(@tipocontacto.idTipoContacto);"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>



                    <!-- Agrega los botones de exportación aquí -->


                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal para editar datos -->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel">Editar Datos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("UpdateTipoContactos", "Maintenance", FormMethod.Post))
            {
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.idTipoContacto)
                            @Html.TextBoxFor(model => model.idTipoContacto, new { @class = "form-control", @readonly = "readonly", @id = "idTipoContacto" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.descripcionTipoContacto)
                            @Html.TextBoxFor(model => model.descripcionTipoContacto, new { @class = "form-control", @id = "descripcionTipoContactoInput" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>


<script>

    function validarFormulario() {
        //Se obtiene el campo de descripcionrol
        var descripcionTipoContacto = document.getElementById("descripcionTipoContactoInput").value;

        if (descripcionTipoContacto === "") {
            document.getElementById("errorMensaje").innerText = "La descripción del Tipo de Contacto no puede estar vacía";
            return false;
        }

        if (/^\s*$/.test(descripcionTipoContacto)) {
            document.getElementById("errorMensaje").innerText = "La descripción del Tipo de Contacto no puede contener espacios vacío";
            return false;
        }

        //Verifico si existe algun digito en el input--
        if (/\d/.test(descripcionTipoContacto)) {
            document.getElementById("errorMensaje").innerText = "No se puede digitar números en la descripción";
            return false;
        }

        return true;

    }

    function AbrirModal(idTipoContacto, descripcionTipoContacto) {
        const idTipoContactoInput = document.getElementById("idTipoContacto");
        const descripcionTipoContactoInput = document.getElementById("descripcionTipoContactoInput");

        idTipoContactoInput.value = idTipoContacto;
        descripcionTipoContactoInput.value = descripcionTipoContacto;

        const editarModal = new bootstrap.Modal(document.getElementById("editarModal"));
        editarModal.show();
    }

    function EliminarDato(idTipoContacto) {

        var controller = "Maintenance";
        var action = "DeleteTipoContactos";
        var successMessage = "Se eliminó el tipo contacto con éxito";
        var errorMessage = "No se ha eliminado, hubo un error de comunicación";
        var dataString = "idTipoContacto";

        EliminarDatosAjax(idTipoContacto, controller, action, successMessage, errorMessage, dataString);
    }

</script>

@if (TempData["responseCode"] != null)
{
    if (TempData["responseCode"] == null)
    {
        <script>
            CreateAlert('Fallo del sistema', 'error', 'No ha devuelto una respuesta, comuniquese con IT');
        </script>
    }

    if (TempData["responseCode"].ToString().Contains(Constantes.responsesCode[0].ToString()))
    {
        <script>
            var decodedResponse = @Html.Raw(Json.Encode(TempData["response"]));
            CreateAlert('Creación Exitosa', 'success', decodedResponse);
        </script>
    }

    if (TempData["responseCode"].ToString().Contains(Constantes.responsesCode[1].ToString()))
    {
        <script>
            var decodedResponse = @Html.Raw(Json.Encode(TempData["response"]));
            CreateAlert('Creación Denegada', 'error', decodedResponse);
        </script>
    }

    TempData["responseCode"] = null;
}
