<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Title - Proxima Gen</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" href="assets/images/favicon.svg" type="image/x-icon">
    @Styles.Render("~/Content/css")

</head>

<body class="">

    @{ 
        List<int> listaPermisos = new List<int>();

        System.Data.DataSet dsPermisos = new System.Data.DataSet();
        WebAplication_ProximaGen.WS_Client.WS_ProximaGenSoapClient wsClient = new WebAplication_ProximaGen.WS_Client.WS_ProximaGenSoapClient();
        int.TryParse(Session["idRol"].ToString(), out int idRol);
        dsPermisos = wsClient.LeerPermisosXRoles(idRol);

        foreach (System.Data.DataRow dr in dsPermisos.Tables[0].Rows)
        {
            int.TryParse(dr["Permisos_idPermiso"].ToString(), out int idPermiso);
            listaPermisos.Add(idPermiso);
        }
    }


    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ Mobile header ] start -->
    <div class="pc-mob-header pc-header">
        <div class="pcm-logo">
            <img src="assets/images/panda_logo.png" alt="" class="logo logo-lg">
        </div>
        <div class="pcm-toolbar">
            <a href="#!" class="pc-head-link" id="mobile-collapse">
                <div class="hamburger hamburger--arrowturn">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <a href="#!" class="pc-head-link" id="headerdrp-collapse">
                <i data-feather="align-right"></i>
            </a>
            <a href="#!" class="pc-head-link" id="header-collapse">
                <i data-feather="more-vertical"></i>
            </a>
        </div>
    </div>
    <!-- [ Mobile header ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pc-sidebar ">
        <div class="navbar-wrapper">
            <div class="m-header">
            </div>
            <div class="navbar-content">
                <ul class="pc-navbar">
                    <li class="pc-item pc-caption">
                        <label>Inicio</label>
                    </li>
                    <li class="pc-item">
                        @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "pc-link" })
                    </li>


                    @if (listaPermisos.Contains(4))
                    {
                        <li class="pc-item pc-caption">
                            <label>Administración</label>
                        </li>

                        <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">business_center</i></span><span class="pc-mtext">Administración</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li>@Html.ActionLink("Personas", "Person", "Maintenance", new { area = "" }, new { @class = "pc-link" })</li>
                                <li>@Html.ActionLink("Estado", "Status", "Maintenance", new { area = "" }, new { @class = "pc-link" })</li>
                                <li>@Html.ActionLink("Rol", "Roles", "Maintenance", new { area = "" }, new { @class = "pc-link" })</li>
                                <li>@Html.ActionLink("Permiso", "Permissions", "Maintenance", new { area = "" }, new { @class = "pc-link" })</li>
                                <li>@Html.ActionLink("Asignar Permiso", "AsignarPermiso", "Maintenance", new { idRol = 20 }, new { @class = "pc-link" })</li>
                                <li>@Html.ActionLink("Contacto", "Contactos", "Maintenance", new { area = "" }, new { @class = "pc-link" })</li>
                                <li>@Html.ActionLink("Tipo Contacto", "TipoContactos", "Maintenance", new { area = "" }, new { @class = "pc-link" })</li>
                                <li>@Html.ActionLink("Tarjeta", "Tarjetas", "Maintenance", new { area = "" }, new { @class = "pc-link" })</li>
                                <li>@Html.ActionLink("Género", "Generos", "Maintenance", new { area = "" }, new { @class = "pc-link" })</li>
                            </ul>
                        </li>
                    }

                    @if (listaPermisos.Contains(3))
                    {
                        <li class="pc-item pc-caption">
                            <label>Cursos</label>
                        </li>

                        <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">business_center</i></span><span class="pc-mtext">Cursos</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li>@Html.ActionLink("CURSO VARIABLE", "Person", "Maintenance", new { area = "" }, new { @class = "pc-link" })</li>
                            </ul>
                        </li>
                    }

                    @if (listaPermisos.Contains(1))
                    {
                        <li class="pc-item pc-caption">
                            <label>Matricula en linea</label>
                        </li>

                        <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">business_center</i></span><span class="pc-mtext">Matricula en linea</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li>@Html.ActionLink("Matricular", "Person", "Maintenance", new { area = "" }, new { @class = "pc-link" })</li>
                            </ul>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->
    <!-- [ Header ] start -->
    <header class="pc-header ">
        <div class="header-wrapper">
            <div class="mr-auto pc-mob-drp">
                <ul class="list-unstyled">
                    
                </ul>
            </div>
            <div class="ml-auto">
                <ul class="list-unstyled">
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="material-icons-two-tone">search</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pc-h-dropdown drp-search">
                            <form class="px-3">
                                <div class="form-group mb-0 d-flex align-items-center">
                                    <i data-feather="search"></i>
                                    <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . .">
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png" alt="user-image" class="user-avtar">
                            <span>
                                <span class="user-name">@Session["Usuario"]</span>
                                <span class="user-desc">@Session["Rol"]</span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pc-h-dropdown">
                            <div class=" dropdown-header">
                                <h5 class="text-overflow m-0"><span class="badge bg-light-primary"><a href="https://gumroad.com/dashboardkit" target="_blank">Upgrade to Pro</a></span></h5>
                            </div>

                            <a href="auth-signin.html" class="dropdown-item">
                                <i class="material-icons-two-tone">chrome_reader_mode</i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </header>

    @Scripts.Render("~/bundles/js-sweetalert")

    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    @RenderBody()
    <!-- [ Main Content ] end -->


    @Scripts.Render("~/bundles/js-principal")
    @Scripts.Render("~/bundles/js-charts")
    @Scripts.Render("~/bundles/js-dashboard")
    @RenderSection("scripts", required: false)


</body>

</html>
