
@{
    Layout = null;
}

@using WebAplication_ProximaGen.Logica
@model WebAplication_ProximaGen.Models.Usuarios

<!DOCTYPE html>
<html lang="en">

<head>

    <title>DashboardKit Bootstrap 5 Admin Template</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="DashboardKit is made using Bootstrap 5 design framework. Download the free admin template & use it for your project.">
    <meta name="keywords" content="DashboardKit, Dashboard Kit, Dashboard UI Kit, Bootstrap 5, Admin Template, Admin Dashboard, CRM, CMS, Free Bootstrap Admin Template">
    <meta name="author" content="DashboardKit ">


    <!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.svg" type="image/x-icon">

    @Styles.Render("~/Content/css")


</head>
<body>
    <!-- [ auth-signin ] start -->
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="row align-items-center text-center">
                    <div class="col-md-12">
                        <div class="card-body">
                            <form action="~/Login/LoginUser" method="post">
                                <img src="https://i.pcmag.com/imagery/reviews/06KRj2q8KBICEBe21MsFOEa-22.fit_scale.size_760x427.v1695303316.jpg"
                                     alt="" class="img-fluid mb-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i data-feather="user"></i></span>
                                    @Html.TextBoxFor(model => model.nombreUsuarios, new { @class = "form-control", placeholder = "Usuario" })
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-text"><i data-feather="lock"></i></span>
                                    @Html.TextBoxFor(model => model.contrasenna, new { @class = "form-control", placeholder = "Contraseña", @type = "Password" })
                                </div>
                                <button type="submit" class="btn btn-block btn-primary mb-4">Iniciar Sesión</button>
                                <p class="mb-0 text-muted">Olvido Contraseña? <a href="auth-signup.html" class="f-w-400">Recuperar</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/js-sweetalert")


    @if (TempData["responseCode"] != null)
    {
        if (TempData["responseCode"] == null)
        {
            <script>
                CreateAlert('Fallo del sistema', 'error', 'No ha devuelto una respuesta, comuniquese con IT');
            </script>
        }

        if (TempData["responseCode"].ToString().Contains(Constantes.responsesCode[0].ToString()))
        {
            <script>
            var decodedResponse = @Html.Raw(Json.Encode(TempData["response"]));
            CreateAlert('Redirigiendo', 'success', decodedResponse);
            </script>
        }

        if (TempData["responseCode"].ToString().Contains(Constantes.responsesCode[1].ToString()))
        {
            <script>
            var decodedResponse = @Html.Raw(Json.Encode(TempData["response"]));
            CreateAlert('Credenciales Invalidas', 'error', decodedResponse);
            </script>
        }
    }





    @Scripts.Render("~/bundles/js-principal")
    @Scripts.Render("~/bundles/js-charts")
    @Scripts.Render("~/bundles/js-dashboard")

</body>

</html>
